/*tabla*/
#tabla{
       width: 90%;
       border:solid;
}
th{
    width: 30px;
    padding-bottom:3px;
    color:black;
    background-color: grey;
    margin-bottom: 3px;
    border: 1px solid;
}
td{
    width: 30px;
    border: 1px solid;  
}
.titulo-de-tabla{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

